/*-----Global CSS-----*/
html {
  font-size: 16px;
}

h2 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 2.5rem;
  color: #30232e;
}

h3 {
  font-family: "Garamond";
  font-weight: 100;
  font-size: 1rem;
  color: #33322E;
}

p {
  font-family: "Garamond";
  line-height: 1.5rem;
  color: #33322E;
}

a {
  text-decoration: none;
  color: #30232e;
}

a:hover {
    color: #833e76;
}

span {
  color: dimgray;
}


/*     Header     */
header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 0.7;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo .title {
  display: inline;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.title #bold {
  font-weight: 700;
  font-size: 1.5rem;
}

.title #light {
  font-weight: 300;
  font-size: 1.5rem;
}

nav {
  font-family: Georgia;
  font-size: .9rem;
  padding-right: 1.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  padding-left: 1rem;
}

.mobile-nav {
  display: none;
}

/*     LEARN    */
.learn-wrapper {
    background-color: #b1adb1;
    display: flex;
    flex-direction: row;
}

.learn-wrapper .left-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.learn-wrapper .left-wrapper img {
    max-width: 100%;
    height: auto;
    padding: 4rem 1rem 2rem 1.5rem;
}

.learn-wrapper .right-wrapper {
    float: right;
    clear: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    margin-left: 1rem;
    width: 28%;
}

.learn h2 {
    line-height: 3rem;
    padding-bottom: 2rem;
}

.learn h3 {
    line-height: 1.2;
    padding-bottom: 2rem;
}

.start-btn {
	border: none;
	overflow: hidden;
	width: auto;
    height: auto;
    text-align: center;
    padding: 0.5rem 1rem;
}

.start-btn a {
    font-family: "Georgia";
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: #33322E;
    border-radius: 0.1rem;
    text-decoration: none;
    width: 100%;
    height: 113%;
    padding: 0.5rem 2rem;
    position: relative;
}

.start-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* PRACTICE */
.mobile-info {
  display: none;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 2px 0;
}
.information .left-wrapper {
  max-width: 58%;
  max-height: 100%;
  padding: 2rem 1.5rem;
}
.info-txt h2 {
  padding: 2rem 0 1.5rem 0;
}
.info-txt p {
  margin-bottom: 0.8rem;
}
.info-txt span {
  font-size: .75rem;
  padding-top: 2rem;
}
.information .right-wrapper {
  max-width: 40%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 0;
}

.information .right-wrapper h3 {
  font-size: 1.5rem;
}
.information .right-wrapper p {
  font-size: 1rem;
}

.information .right-wrapper a {
  font-size: .75rem;
}

.info {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.info img {
  max-width: 35%;
  height: auto;
}

.orientation {
  padding-top: 0;
}

.info-txt {
  padding: 0rem 1.5rem;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*     COURSES     */
.courses {
    background-color: #b1adb1;
    padding: 0 4rem 2rem 4rem;
}

#courses-header h2 {
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
}

.courses-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#course-box {
    width: 30%;
    height: auto;
    background-color: white;
    margin: 0 2rem 2rem 0;
}

#course-box img {
    width: 100%;
    height: auto;
}

#course-description {
    background-color: white;
    font-family: "Garamond";
    font-weight: 200;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 90%;
    padding: 1rem 0 1rem 1rem;
}

#course-description #course-title {
    font-family: "Georgia";
    font-weight: 500;
    font-size: 1rem;
}

#course-description p {
    color: dimgrey;
    font-weight: 400;
    line-height: 2;
}

#course-description #course-info {
    display: inline-block;
    width: 100%;
}

#course-description #course-info #course-list {
    width: 100%;
}

#course-description #course-info #course-list a {
    text-decoration: none;
    color: #30232e;
    font-weight: 200;
    line-height: 2.5;
    background-color: #ffffff;
    border: 1px solid #30232e;
    padding: 0.25rem 0.5rem;
    margin: 0.05rem;
    width: auto;
    border-radius: 1rem;
    transition: all 300ms ease-in-out 10ms;
}

#course-description #course-info #course-list a:hover {
    text-decoration: none;
    background-color: #b1adb1;
    color: white;
}

.mobile-courses-wrapper {
  display: none;
}

/*     THESIS EXHIBITS     */
.thesis-exhibits {
    background-color: #f2f2f2;
}

.thesis-exhibits h2 {
    padding: 2rem 0 1.5rem 0;
    margin: 0 auto;
    text-align: center;
}

.exhibit-wrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
}

.exhibit-wrapper .left-wrapper {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;
}

.exhibit-wrapper .left-wrapper video {
    max-width: 100%;
    height: auto;
    padding: 0 0 0 1.5rem;
}

.exhibit-wrapper .left-wrapper h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0 0 1.5rem;
    display: block;
}

.exhibit-wrapper .left-wrapper #desc-text {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
}

.exhibit-wrapper .left-wrapper p {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0 1.5rem 1.5rem;
}

.exhibit-wrapper .right-wrapper {
    padding: 0 0 2rem 0;
    width: 60%;
    height: auto;
    border: none;
}

.exhibit-wrapper .right-wrapper h3 {
  font-size: 1.5rem;
}

.exhibit-wrapper .right-wrapper p {
  font-size: 1rem;
}

.exhibit-wrapper .right-wrapper a {
  font-size: 0.8rem;
}

.exhibit-wrapper .right-wrapper .article {
    display: inline-flex;
    width: 100%;
    border: none;
}

.exhibit-wrapper .right-wrapper .article img {
    width: 27%;
    height: auto;
    padding: 0.5rem 1rem;
}

.exhibit-wrapper .right-wrapper .article-txt {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.exhibit-wrapper .right-wrapper .article-txt #desc-text {
    padding: 0.5rem 0;
}

.exhibit-wrapper .right-wrapper #info-title {
    font-family: "Georgia";
    font-size: 1.25rem;
    font-weight: 500;
}

.mobile-exhibit-wrapper {
  display: none;
}
/*    FOOTER    */
footer {
    padding: 1rem 1rem 1.5rem 1.5rem;
    border-top: 1px solid lightgray;
    font-family: "Garamond";
    font-size: 0.7rem;
    text-decoration: none;
    color: dimgray;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    text-decoration: none;
    color: #30232e;
    padding: 0 0.25rem;
}

footer nav a:hover {
    color: #b1adb1;
}

footer #copyright-txt {
  font-style: italic;
}

/*     SCREEN OPTIMIZATION     */
@media only screen and (max-width: 480px) {
  /*MOBILE HEADER*/
  .logo,
  .desktop-nav {
    display: none;
  }

  header {
    width: 100%;
    position: fixed;
  }

  .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*MOBILE LEARN SECTION*/
  .learn {
    background-color: darkgray;
    height: 36rem;
    width: 100%;
  }

  .learn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .learn-wrapper img {
    width: 100%;
    padding: 0;
    margin: 0;
    top: -2rem;
    left: -1.5rem;
    align-self: center;
  }

  .learn .right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-top: -1rem;
    width: 80%;
  }

  .learn .right-wrapper h2 {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #33322E;
  }

  .learn .right-wrapper h3 {
    font-family: "Garamond";
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: -1rem;
    margin-bottom: -0.75rem;
  }

  /*MOBILE PRACTICE SECTION*/
  .left-wrapper {
    display: none;
  }
  .right-wrapper {
    width: 100%;
  }

  .right-wrapper,
  .info {
    max-width: 100%;
  }

  .guest {
    border-bottom: none;
  }
  .orientation,
  .right-wrapper {
    border: none;
  }

  .info img.desktop-info {
    display: none;
  }
  .info img.mobile-info {
    display: block;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .info img {
    max-width: 100%;
    width: 100%;
  }
  .info-txt {
    padding-top: 2rem;
    padding-left: 1rem;
  }

    /*MOBILE COURSES SECTION*/
    /*hides desktop version*/
    .courses-wrapper {
      display: none;
    }
    /*code for mobile version*/
    .mobile-courses-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #mobile-course a {
      font-family: "Garamond";
      text-decoration: none;
      color: #30232e;
      background-color: lightgray;
      line-height: 3.5;
      border-radius: 0.5rem;
      width: 100%;
      padding: 1rem;
      transition: all 300ms ease-in-out 10ms;
    }

    #mobile-course a:hover {
      color: #ffffff;
      background-color: ##b1adb1;
    }
    /*MOBILE THESIS EXHIBIT SECTION*/
    /*hides desktop version*/
    .exhibit-wrapper {
      display: none;
    }
    /*code for mobile version*/
    .mobile-exhibit-wrapper {
      display: block;
      max-width: 100%;
  }

  #copyright {
    padding: 2rem 0 0 0;
    margin-bottom: -1.5rem
  }

  /*MOBILE FOOTER*/
  #footer-nav {
    display: none;
  }
}
